@{
    ViewData["Title"] = "İstanfind.";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

<section id="hero" class="d-flex align-items-center justify-content-center">
    @*<img src="~/img/maxresdefault.jpg" />*@
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
            <div class="col-xl-6 col-lg-8">
                <h1>İstanbulu Keşfet<span>.</span></h1>
                @*<h2>We are team of talanted digital marketers</h2>*@
            </div>
        </div>
        @*Katagoriler*@
        <div class="row mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
            <div class="col-xl-2 col-md-4 col-6">
                <div class="icon-box">
                    <i class="ri-store-line"></i>
                    <h3><a asp-controller="Hotel" asp-action="Index">Oteller</a></h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 ">
                <div class="icon-box">
                    <i class="ri-bar-chart-box-line"></i>
                    <h3><a asp-controller="Restaurant" asp-action="Index">Restoranlar</a></h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 mt-4 mt-md-0">
                <div class="icon-box">
                    <i class="ri-calendar-todo-line"></i>
                    <h3><a asp-controller="HistoricalPlace" asp-action="Index">Tarihi Mekanlar</a></h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 mt-4 mt-xl-0">
                <div class="icon-box">
                    <i class="ri-paint-brush-line"></i>
                    <h3><a asp-controller="FunPlace" asp-action="Index">Eğlence Mekanları</a></h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 mt-4 mt-xl-0">
                <div class="icon-box">
                    <i class="ri-database-2-line"></i>
                    <h3><a asp-controller="Park" asp-action="Index">Parklar</a></h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 mt-4 mt-xl-0">
                <div class="icon-box">
                    <i class="ri-database-2-line"></i>
                    <h3><a asp-controller="Shop" asp-action="Index">Alışveriş</a></h3>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Hero -->
<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                <img src="assets/img/about.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-12 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
                <div class="section-title">

                    <p>İstanbul Hakkında</p>
                </div>
                @*<h3>İstanbul Hakkında</h3>*@
                <p>
                    İstanbul… Şarkılara, şiirlere, romanlara konu olmuş bir kültür ve tarih mozaiği…
                    Dünyada eşi benzeri bulunmayan ve Avrupa ile Asya kıtaları üzerinde tarihi ve kültürel dokusuyla göz kamaştıran camiler, saraylar, parklar ve köşkler şehri İstanbul’u keşfetmek çok heyecanlı ve eğlenceli olacaktır.
                    Aşağıda İstanbul ile ilgili faydalı bilgileri bulabilirsiniz…
                </p>
                @*<ul>
                        <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                        <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                        <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
                    </ul>*@
                <p>
                    Bizans, Konstantiniye ve İstanbul…
                    Bu üç sihirli isim İstanbul’un güz kamaştıran tarihini simgelemektedir.
                    Dünya’da çok az şehir bu kadar özel ve keşfetmesi çok heyecan vericidir.
                    İstanbul, tarih boyunca 120 kayser ve imparator tarafından yönetilmiş ve yukarıda anılan üç büyük medeniyete ev sahipliği yapmıştır.
                </p>
                <p>
                    İstanbul’un Tarihi Yarımadası olarak bilinen kent merkezinde ilk yerleşim yeri,
                    Yunanlılar tarafından İ.Ö. 685 yılında kurulmuş ve buraya “Byzantion” adı verilmiş.
                    Tarih boyunca farklı uygarlıklarca değişik isimlerle anılmış olan Tarihi Yarımada,
                    Osmanlı İmparatorluğu döneminde ise ilk olarak Dersaadet ve sonrasında da İstanbul olarak anılmıştır.
                    İstanbul aktiviteleri sınırsızdır.
                    İstanbul, muhteşem doğal güzellikleri, gökyüzüne uzanan minareleri,
                    altın yaldızlı kubbeleri, sarayları, köşkleri, müzeleri, park ve bahçeleri, anıtları, kuleleri,
                    kültürü ve çok daha fazlasıyla ziyaretçilerini büyülemektedir.
                    Asya ve Avrupa kıtalarını birleştiren özelliğiyle de dünyada eşsizdir.
                    Ve özellikle Boğaziçi-İstanbul Boğazı sizleri derinlemesine etkileyecektir.
                    Roma, Bizans ve Osmanlı İmparatorluğu’nun tarihi eserlerine İstanbul’un eşsiz doğal güzellikleri
                    de eklenince ortaya muhteşem bir tablo çıkmaktadır.
                </p>
                <p>
                    Türkiye’nin en büyük ve popüler şehri olmasının yanında İstanbul, sanat, kültür ve ekonomi alanında da aynı zamanda 15 milyonluk nüfusu ile Türkiye ve dünyanın en büyük kentlerinden birisidir.

                    İstanbul’da gezilecek yerler de sınırsızdır.
                    İstanbul’un ilk bakışta göze çarpan en etkileyici yerleri Tarihi Yarımada ve Boğaziçi’dir.
                    Topkapı Sarayı, Ayasofya ve Sultanahmet Camii, Kapalıçarşı, Yerebatan Sarnıcı gibi tarihi yerleri barındıran Tarihi Yarımadada gezi ve Eminönü Galata Köprüsünden
                    başlayarak Anadolu Kavağı’na kadar süren etkileyici İstanbul Boğaz turu, İstanbul’un ziyaretçilerinin mutlaka yapması gereken gezi aktivitelerinin başında gelmektedir.
                    Avrupa ve Asya’yı ayıran İstanbul Boğazı’nda vapur veya teknelerle geleneksel ve unutulmaz bir deniz gezisi yapmadan İstanbul geziniz tamamlanmış sayılmaz.
                </p>
                <p>
                    İstanbul gece hayatı ise bambaşka.
                    Özellikle Taksim, İstiklal Caddesi ve Tünel hattı İstanbul gecelerinin en önemli mekanlarını barındırmaktadır.
                    İstanbul’da sanat ve kültür aktiviteleri ise sınırsızdır diyebiliriz.
                </p>
            </div>
        </div>

    </div>
</section><!-- End About Section -->
<!-- ======= Team Section ======= -->
<section id="team" class="team">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Team</h2>
            <p>Check our Team</p>
        </div>

        <div class="row">

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <div class="member-img">
                        <img src="~/img/akin.jpeg" class="img-fluid" alt="">

                    </div>
                    <div class="member-info">
                        <h4>Akın Yaşar</h4>
                        <span>Developer</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="200">
                    <div class="member-img">
                        <img src="~/img/gamze.png" class="img-fluid" alt="">

                    </div>
                    <div class="member-info">
                        <h4>Gamze Ağırtaş</h4>
                        <span>Developer</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="300">
                    <div class="member-img">
                        <img src="~/img/mert.png" class="img-fluid" alt="">

                    </div>
                    <div class="member-info">
                        <h4>Mert Gölcü</h4>
                        <span>Developer</span>
                    </div>
                </div>
            </div>



        </div>

    </div>
</section><!-- End Team Section -->
