@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@*<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
    </ul>*@

<ul>
    @if (SignInManager.IsSignedIn(User))
    {
        var currentUser = await UserManager.GetUserAsync(User);

        var isAdmin = currentUser != null
            && await UserManager.IsInRoleAsync(currentUser, Constants.AdministratorRole);

        <li>
            <a class="get-started-btn btn-dark " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Merhaba @currentUser.Ad!</a>
        </li>
        <li>
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="get-started-btn btn-dark scrollto">Logout</button>
            </form>
        </li>


        if (isAdmin)
        {
            @*<ul class="nav navbar-nav navbar-right"> </ul>*@
            <li><a class="get-started-btn btn-dark scrollto" asp-controller="ManageUsers" asp-action="Index">Kullanıcıları Yönet</a></li>

        }

    }
    else
    {
        <li>
            <a asp-area="Identity" asp-page="/Account/Login" class="get-started-btn scrollto">Login</a>
        </li>
        <li>
            <a asp-area="Identity" asp-page="/Account/Register" class="get-started-btn scrollto">Register</a>
        </li>
    }
</ul>