@page
@model ConfirmEmailModel
@using istanfind.Resources
@inject LocService SharedLocalizer
@{
	ViewData["Title"] = "Confirm email";
}

<h1>@SharedLocalizer.GetLocalizedHtmlString("emailonayla")</h1>